.page-container {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-primary);
  overflow: hidden;
}

.page-container > *:not(:first-child) {
  flex: 1;
  padding: 24px;
  width: 100%;
  overflow-y: auto;
}
